@namespace VolunteerTracker.Blazor.Shared
@inherits ComponentBase
@typeparam TItem

<div class="@Class">
    <label for="@ElementId" class="control-label">@Title</label>
    <input id="title" type="text" class="form-control" @bind-value="@Value" />
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public TItem Value { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string ElementId { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(ElementId))
        {
            ElementId = Guid.NewGuid().ToString().Replace("-", "");
    }
}
