@using VolunteerTracker.Repository.Entities
@using VolunteerTracker.Repository
@using Microsoft.EntityFrameworkCore

<div class="px-2">
    <div class="row">
        <div class="col-md-4 col-lg-1 pr-lg-1">
            <label for="title" class="control-label">Title</label>
            <input id="title" type="text" class="form-control" @bind-value="_person.Title"/>
        </div>
        <div class="col-md-12 col-lg-3 pr-lg-1">
            <label for="firstname" class="control-label">First Name</label>
            <input id="firstname" type="text" class="form-control" @bind-value="_person.FirstName"/>
        </div>
        <div class="col-md-12 col-lg-3 pr-lg-1">
            <label for="middlename" class="control-label">Middle Name</label>
            <input id="middlename" type="text" class="form-control" @bind-value="_person.MiddleName"/>
        </div>
        <div class="col-md-12 col-lg-4 pr-lg-1">
            <label for="lastname" class="control-label">Last Name</label>
            <input id="lastname" type="text" class="form-control" @bind-value="_person.LastName"/>
        </div>
        <div class="col-md-4 col-lg-1">
            <label for="suffix" class="control-label">Suffix</label>
            <input id="suffix" type="text" class="form-control" @bind-value="_person.Suffix"/>
        </div>
    </div>
    <div class="row"></div>
    
    <div class="row">
        <button class="btn btn-primary" @onclick="Save">Save</button>
        <button class="btn btn-primary" @onclick="Close">Close</button>
        </div>
</div>