@using VolunteerTracker.Blazor.Components.Shared
@using VolunteerTracker.Repository.Entities

<div class="px-2">
    <div class="row">
        <VTTextBox Name="Title" Class="col-md-4 col-lg-1 pr-lg-1" @bind-Value="_person.Title"></VTTextBox>
        <VTTextBox Name="First Name" Class="col-md-12 col-lg-3 pr-lg-1" @bind-Value="_person.FirstName"></VTTextBox>
        <VTTextBox Name="Middle Name" Class="col-md-12 col-lg-3 pr-lg-1" @bind-Value="_person.MiddleName"></VTTextBox>
        <VTTextBox Name="Last Name" Class="col-md-12 col-lg-4 pr-lg-1" @bind-Value="_person.LastName"></VTTextBox>
        <VTTextBox Name="Suffix" Class="col-md-4 col-lg-1" @bind-Value="_person.Suffix"></VTTextBox>
    </div>

    <div class="row py-3">
        <div class="col-lg-6 col-md-12 p-3 mr-lg-2">
            <VTTextBox Name="Address 1" Class="col-12" @bind-Value="_person.Address.Line1"></VTTextBox>
            <VTTextBox Name="Address 2" Class="col-12" @bind-Value="_person.Address.Line2"></VTTextBox>
            <VTTextBox Name="City" Class="col-12" @bind-Value="_person.Address.City"></VTTextBox>
            <VTTextBox Name="State" Class="col-12" @bind-Value="_person.Address.State"></VTTextBox>
            <VTTextBox Name="Zip" Class="col-12" @bind-Value="_person.Address.Zip"></VTTextBox>
        </div>
        <div class="col-lg-6 col-md-12 p-3 ml-lg-2">

            @foreach (Phone phone in _person.Phones)
            {
                <div class="col-12">
                    <div class="row">
                        <VTDropdown Name="Type" Class="col-3" Options="_phoneTypes" @bind-Value="phone.Type"></VTDropdown>
                        <VTTextBox Name="Number" Class="col-7" @bind-Value="@phone.Number"></VTTextBox>
                        <VTCheckbox Name="Primary" Class="col-2" @bind-Value="@phone.IsPrimary"></VTCheckbox>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-2 col-lg-1">
            <button type="submit" class="btn btn-primary" @onclick="Save">Save</button>
        </div>
        <div class="col-md-2 col-lg-1">
            <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
        </div>
    </div>
</div>