
<fieldset class="rounded-3 border my-2">
    <div class="p-2">
        <legend class="text-muted">@Label</legend>
        @ChildContent
    </div>
</fieldset>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Label { get; set; }
}