@inherits VTComponentBase

<div class="@($"mb-1 {ContainerClass}")">
    <button type="@BtnType" class="@Class" title="@Tooltip" @onclick="OnClick">
        @ChildContent
    </button>
</div>

@code {

    private string BtnType => ButtonType.ToString().ToLower();


    [Parameter]
    public ActionType ButtonType { get; set; } = ActionType.Button;

    [Parameter]
    public string ContainerClass { get; set; } = "btn btn-primary";

    [Parameter]
    public string? Tooltip { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public enum ActionType
    {
        Button,
        Submit,
        Reset
    }

}