@inherits VTElementBase

<div class="@($"mb-1 {ContainerClass}")">
    <button type="@BtnType" class="@Class" title="@Tooltip" @onclick="OnClick">
        @ChildContent
    </button>
</div>

@code {


    protected override void OnParametersSet()
    {
        if (ButtonType == ActionType.Submit && Class.Contains("btn-outline-"))
            throw new ArgumentException("Submit buttons should not be outline");

        if(Class.Length == 0)
            Class = "btn btn-primary";
        
    }

    private string BtnType => ButtonType.ToString().ToLower();

    [Parameter]
    public ActionType ButtonType { get; set; } = ActionType.Button;

    [Parameter]
    public string? Tooltip { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public enum ActionType
    {
        Button,
        Submit,
        Reset
    }

}