@inherits VTComponentBase

<div class="@($"mb-1 {Class}")">
    <button type="@btnType" class="@ButtonClass" title="@Tooltip" @onclick="OnClick">
        @ChildContent
    </button>
</div>

@code {

    private string btnType => ButtonType.ToString().ToLower();


    [Parameter]
    public BtnActionType ButtonType { get; set; } = BtnActionType.Button;

    [Parameter]
    public string ButtonClass { get; set; } = "btn btn-primary";

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public enum BtnType { }

    public enum BtnActionType
    {
        Button,
        Submit,
        Reset
    }

}