@inherits VTComponentBase

<div class="@($"mb-1 {Class}")">
    <div class="form-floating">
        <input id="@Id" type="text" class="form-control" @bind-value="Value"/>
        <label for="@Id" class="control-label">@Label</label>
    </div>
</div>

@code {
    private string? _value;

    [Parameter]
    public string? Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            ValueChanged.InvokeAsync(value);
            _value = value;
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

}